<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>867485167117-7pau9d7dtk1js7b8hgfcaibivisj7l8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867485167117-7pau9d7dtk1js7b8hgfcaibivisj7l8l</string>
	<key>API_KEY</key>
	<string>AIzaSyBGat2js7CPyFdLlnnaICmkMv_1spDz7IM</string>
	<key>GCM_SENDER_ID</key>
	<string>867485167117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nevexa.Facebooklogin</string>
	<key>PROJECT_ID</key>
	<string>facebooklogin-f2caf</string>
	<key>STORAGE_BUCKET</key>
	<string>facebooklogin-f2caf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867485167117:ios:8043e96ec9aeb7f4</string>
	<key>DATABASE_URL</key>
	<string>https://facebooklogin-f2caf.firebaseio.com</string>
</dict>
</plist>